<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="google-site-verification" content="zRJhIRGazSEQxNgmOeARSu83TAyqabEvoIgFCQP0uZ0" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta property="og:site_name" content="Telegram email bot">

    <title>Telegram email bot</title>
    <link href="{{ url_for('static', filename='style.css')  }}" rel="stylesheet" media="screen">
    <link href="{{ url_for('static', filename='bootstrap.css')  }}" rel="stylesheet" media="screen">
</head>
<body>
<div>
    {% if msg %}
        <h1> {{ msg }}!</h1>
    {% endif %}
    <img src="{{ url_for('static', filename='icon.png') }}" />
    <h1>Telegram email bot</h1>
    <p>Aggregate all your incoming emails into Telegram app</p>

    <a class="open-btn" href="http://t.me/t_email_bot">Open</a>
</div>
<footer>
    <a class="link" href="{{ url_for('privacy') }}">privacy</a>
    <a class="link" href="https://github.com/aydar-musin/telegragg">github</a>
    <a class="link" href="mailto:21pomni@gmail.com">email: 21pomni@gmail.com</a>
</footer>
</body>
</html>