<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="google-site-verification" content="zRJhIRGazSEQxNgmOeARSu83TAyqabEvoIgFCQP0uZ0" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta property="og:site_name" content="Telegram email bot">

    <title>Privacy policy - Telegram email bot</title>
    <link href="{{ url_for('static', filename='style.css')  }}" rel="stylesheet" media="screen">
    <link href="{{ url_for('static', filename='bootstrap.css')  }}" rel="stylesheet" media="screen">
</head>
<body>
<div class="privacy">
    <h1>Privacy policy</h1>
    <p>This Privacy Policy (“this Policy”) sets out how we telegra.email (“Telegram email bot”, “we”, “us” or “our”) process or use your personal information.Telegram email bot - is an open source project. All information provided below can be proved by <a href="https://github.com/aydar-musin/telegragg"> source code </a></p>

    <h3>Storing data</h3>
    <p>We store the following information about user: chat_id - unique identifier of chat in Telegram,
    email addresses that you add to our bot. Once you granted access to our app for your email box in your email service(email services listed below):
        we save your email address and access token only. We do not save, read or share your email messages. This information can't be shared. Telegram email bot does not store any password. Access to your accounts is only done through apps API and access tokens.
    All transfered data encrypted using SSL.
    </p>
    <p>
        Email services:
    </p>
    <ul>
        <li><a href="https://gmail.com/">Gmail</a></li>
    </ul>

    <h3>Statistics</h3>
    <p>We collect usage statistics with <a href="https://yandex.ru/legal/confidential/index.html">Yandex Metrica</a> such as number of interactions and engagement.
        Such statistics may only be published or shared in an aggregated, anonymized way</p>
</div>
<footer>
    <a class="link" href="{{ url_for('index') }}">home</a>
    <a class="link" href="https://github.com/aydar-musin/telegragg">github</a>
    <a class="link" href="mailto:21pomni@gmail.com">email: 21pomni@gmail.com</a>
</footer>
</body>
</html>